<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168405382542-don92ptun28lb9veiq1s0eir7qs8fagq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168405382542-don92ptun28lb9veiq1s0eir7qs8fagq</string>
	<key>API_KEY</key>
	<string>AIzaSyBdzy3Y7jSe0M8GNJr_8yHtMBwg2hUPEoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>168405382542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weatherapp</string>
	<key>PROJECT_ID</key>
	<string>io-test-f158f</string>
	<key>STORAGE_BUCKET</key>
	<string>io-test-f158f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168405382542:ios:5c14493ee2b3b9f72aa0df</string>
</dict>
</plist>